<div class="card">
    <figure>
        <ng-icon
            name="bootstrapChatLeftHeartFill"
            class="text-primary"
            size="5rem"
        ></ng-icon>
    </figure>
    <div class="card-body prose">
        <h2
            class="card-title font-bold bg-gradient-to-r from-error to-success bg-clip-text text-transparent"
        >
            Welcome to Mock&#60;Interview&#62;
        </h2>
        <p>
            This platform helps to unlock your interviewing potential, whether
            you're guiding as an interviewer or growing as an interviewee.
            Engage with real-world peers in a dynamic, interactive environment
            designed to sharpen your skills and boost your confidence.
        </p>
    </div>
</div>
