@if (isStepBarVisible) {
    <ul class="steps">
        @for (step of steps; track step.label) {
            <button
                (click)="selectStep($index)"
                [ngClass]="{
                    'step-success': step.stepStatus === StepStatus.Completed,
                    'step-error text-error':
                        step.stepStatus === StepStatus.Invalid,
                    'after:border-4 after:border-base-content':
                        selectedStep() === $index
                }"
                class="step hover:cursor-pointer"
            >
                {{ step.label }}
            </button>
        }
    </ul>
}
@for (step of steps; track step.label) {
    <div class="flex-1" *ngIf="selectedStep() === $index">
        <ng-container [ngTemplateOutlet]="step.content"></ng-container>
    </div>
}
<div class="flex justify-between w-full bottom-0 z-10">
    <button
        type="button"
        class="btn btn-primary btn-outline"
        [disabled]="selectedStep() === 0"
        (click)="previousStep()"
    >
        Back
    </button>
    @if (selectedStep() < steps.length - 1) {
        <button
            type="button"
            class="btn btn-primary btn-outline"
            (click)="nextStep()"
            [disabled]="!isNextButtonValid"
        >
            Next
        </button>
    } @else {
        <div [class.tooltip]="!isValid" data-tip="Please fill all the fields">
            <button
                type="submit"
                [disabled]="!isValid"
                class="btn btn-accent"
                (click)="submit()"
            >
                {{ confirmButtonText }}
            </button>
        </div>
    }
</div>
