<h1 class="text-lg m-2.5">What programming languages can you interview in?</h1>
<app-tile-select
    [isMultiSelect]="true"
    formControlName="programmingLanguages"
    [tiles]="tiles"
></app-tile-select>
<h1 class="text-lg m-2.5">What technologies do you know ?</h1>
<app-multi-select
    *ngIf="technologiesNames$ | async as technologiesNames"
    formControlName="technologies"
    [options]="technologiesNames"
></app-multi-select>
@if ((selectedLanguages$ | async)?.length === 0) {
    <app-info-card
        info="Select languages first to unlock technologies related to them."
    ></app-info-card>
}
