@media screen and (max-width: 768px) {
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    :host ::ng-deep {
        tbody {
            display: flex;
            flex-direction: column;
        }
        tr{
            @apply shadow-md mb-3;
        }
        td {
            display: block;
        }
    }
}
