@if (interviewDetails$ | async; as interviewDetails) {
    <div class="card bg-base-200 min-w-full sm:min-w-[500px]">
        <app-planned-interview-details
            [interviewDetails]="interviewDetails"
        ></app-planned-interview-details>
    </div>
    <div class="mt-2 bg-base-200 rounded-box w-full md:w-3/4 lg:w-1/2">
        <div class="collapse collapse-arrow bg-base-200">
            <input type="checkbox" name="question-lists" checked="checked" />
            <div class="collapse-title text-xl font-medium">Your questions</div>
            <div class="collapse-content">
                <app-questions-list
                    [questionList]="interviewDetails.userQuestionsList"
                    [tags]="interviewDetails.tags"
                    [isEditable]="!interviewDetails.endDateTime"
                    [isFeedbackEnabled]="interviewDetails.endDateTime"
                ></app-questions-list>
            </div>
        </div>
        @if (interviewDetails.mateQuestionsList) {
            <div class="collapse collapse-arrow bg-base-200">
                <input
                    type="checkbox"
                    name="question-lists"
                    checked="checked"
                />
                <div class="collapse-title text-xl font-medium">
                    Mate`s questions
                </div>
                <div class="collapse-content">
                    <app-questions-list
                        [questionList]="interviewDetails.mateQuestionsList"
                        isFeedbackEnabled
                        isFeedbackEditable="false"
                    ></app-questions-list>
                </div>
            </div>
        }
    </div>
} @else {
    <div class="skeleton min-w-full sm:min-w-[500px] h-[300px]"></div>
}
