<div class="my-10 flex flex-col items-center">
    <div
        class="card w-full sm:w-96 bg-transparent border-primary border-2 text-base-content"
    >
        <div class="card-body items-center text-center">
            <h1 class="card-title text-2xl">Practice with random people</h1>
            <div class="card-actions justify-end my-2.5">
                <button
                    (click)="openPlanInterviewModal()"
                    class="btn btn-success btn-outline btn-lg btn-wide"
                >
                    Plan your interview
                </button>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="flex flex-col items-center">
    @if (isLoaded$ | async) {
        @if (plannedInterviews$ | async; as plannedInterviews) {
            <h1 class="text-2xl font-mono">Upcoming Interviews</h1>
            <app-upcoming-interviews-table
                [interviews]="plannedInterviews"
            ></app-upcoming-interviews-table>
        }
        @if (recentInterviews$ | async; as recentInterviews) {
            <h1 class="text-2xl font-mono">Recent Interviews</h1>
            <app-recent-interviews-list
                [interviews]="recentInterviews"
            ></app-recent-interviews-list>
        }
    } @else {
        <span class="loading loading-spinner loading-lg"></span>
    }
</div>
