<div class="my-10 flex flex-col items-center">
    <div
        class="card w-full sm:w-96 bg-transparent border-primary border-2 text-base-content"
    >
        <div class="card-body items-center text-center">
            <h1 class="card-title text-2xl">Practice with random people</h1>
            <div class="card-actions justify-end my-2.5">
                <button
                    (click)="openPlanInterviewModal()"
                    class="btn btn-success btn-outline btn-lg btn-wide"
                >
                    Plan your interview
                </button>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="flex flex-col items-center">
    <h1 class="text-2xl font-mono">Upcoming Interviews</h1>
</div>
<div class="flex flex-col items-center">
    <table class="table w-auto">
        <thead>
            <tr>
                <th>Mate</th>
                <th>ProgrammingLanguage</th>
                <th>Technologies</th>
                <th>Time</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (interview of interviews$ | async; track interview.id) {
                <tr app-upcoming-interview-row [interview]="interview"></tr>
            }
        </tbody>
    </table>
</div>
