<div class="max-w-md space-y-5 w-full">
    <h1 class="text-5xl font-bold">404</h1>
    <div class="mockup-code text-left overflow-x-hidden min-w-full">
        <!-- <pre data-prefix="$"><code class="">curl {{url}}</code></pre> -->
        <pre
            data-prefix=">"
            class="text-warning text-ellipsis w-full"
        ><code class="w-full">Downloading...</code></pre>
        <pre
            data-prefix=">"
            class="bg-error font-bold text-error-content"
        ><code>Error 404: page not found!</code></pre>
    </div>
    <a class="btn btn-primary" routerLink="/home">Go to home page</a>
</div>
