<h2 class="text-xl m-2.5">Select your preferred role for the interview</h2>

<div class="flex-col flex sm:flex-row justify-around w-full gap-1">
    <app-selectable-role-card
        role="Interviewer"
        description="You will be able to interview other people"
        [selected]="isSelected(UserRole.Interviewer)"
        (selectedChange)="select(UserRole.Interviewer)"
    ></app-selectable-role-card>
    <app-selectable-role-card
        role="Interviewee"
        description=" You will be able to be interviewed by other people"
        [selected]="isSelected(UserRole.Interviewee)"
        (selectedChange)="select(UserRole.Interviewee)"
    ></app-selectable-role-card>
</div>

<div class="alert alert-info my-5">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="stroke-current shrink-0 w-6 h-6"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
    </svg>
    <span
        >It's generally better to choose both roles to switch roles during the
        interview</span
    >
</div>
